@* Adding jquery script *@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<h2>Find customer</h2>

<form>
    @* Input field for customer's surname *@
    <div class="form-group">
        Surname: <br>
        <input id="surName" type="text" name="surName">
        <input type="button" value="Find" onclick="getCustomerBySurName()"
               class="btn btn-primary"/>
    </div>
    <div>(Leave blank for list of all customer)</div>
</form>

@* Table for results. Initially the body of the table will be empty.
    It will be updated with the result*@
<table id="records_table"  style="width:100%">
    <thead>
    <tr>
        <th onclick="sortTable(0)">First Name</th>
        <th onclick="sortTable(1)">Surname</th>
        <th>Address</th>
        <th>City</th>
        <th>Postcode</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<script>
    // Default API link
    var serviceUrl = 'https://paypontapi.azurewebsites.net/api/customer';


    function getCustomerBySurName() {
    
        // Get the surname as string
        var surName = $('#surName').val();

        // Emptying the table body before adding new results, otherwise it will append to the 
        // old result. Blank surname will return a list of all customers
        $("#records_table tbody").empty();

        //Ajax get request
        $.ajax({
            type: 'GET',
            url: serviceUrl + "/" + surName
        }).done(function (data) {
            $('#data').text(data);

            // For each customer, create a new row to display their information
            $(function() {
                $.each(data, function (i, customer) {
                    var tr = $('<tr>').append(
                        $('<td>').text(customer.firstName),
                        $('<td>').text(customer.surName),
                        $('<td>').text(customer.streetAddress),
                        $('<td>').text(customer.city),
                        $('<td>').text(customer.postcode)
                    );
                    // Append to the table
                    $("#records_table tbody").append(tr);

                });
            });
        }).fail(function (xhr, status, error) {
            // If the request fail, display a pop up with the error message
            var errorMessage = xhr.status + ': ' + xhr.statusText;
            alert('Error - ' + errorMessage);
        });
    }

    //Function to sort table by first name or surname. This is copied from w3schools website.
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("records_table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
                // Start by saying there should be no switching:
                shouldSwitch = false;
                /* Get the two elements you want to compare,
                one from current row and one from the next: */
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /* Check if the two rows should switch place,
                based on the direction, asc or desc: */
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        // If so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /* If a switch has been marked, make the switch
                and mark that a switch has been done: */
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                // Each time a switch is done, increase this count by 1:
                switchcount ++;
            } else {
                /* If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again. */
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>